
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-label {
  display: inline-flex;
}

.score-label > p {
  margin: 0 0;
}

.score-label:not(:first-child) {
  margin-left: 10px;
}

canvas {
  height: calc(90vh - 160px);
}

* {
  overflow: none !important;
}

.scoreboard {
  display: inline-flex;
}
